# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/client/node_modules
/server/node_modules

# misc
.DS_Store

# environment variables
/server/.env
/.env

# build outputs
/client/build/
/client/dist/

# logs
npm-debug.log package-lock.json
