# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Build Artifacts
/client/build
/server/dist

# Language Servers
# Ignore the downloaded server binaries and any generated workspace files
/language-servers/jdt-language-server
/language-servers/kotlin-language-server
/language-servers/workspace

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables
.env
.env.local

# IDE & OS Files
.DS_Store
.idea/
.vscode/

/upstream.conf
